<article class="article-content">
    <label class="title">Os mais pedidos</label>
    <div class="carousel">
        <p-carousel [value]="cards" [numVisible]="4" [numScroll]="4" [circular]="true"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <app-card-product [card]="product"></app-card-product>
            </ng-template>
        </p-carousel>
    </div>
</article>
<article>
    <label class="title">Todos os copos *</label>
    <div class="carousel">
        <p-carousel [value]="cards" [numVisible]="4" [numScroll]="4" [circular]="true"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <app-card-product [card]="product"></app-card-product>
            </ng-template>
        </p-carousel>
    </div>
</article>