@use '@angular/material' as mat;

@include mat.core();

@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "primeng/resources/themes/lara-light-blue/theme.css";

@import "primeng/resources/primeng.css";

$candy-store-primary: mat.define-palette(mat.$indigo-palette);
$candy-store-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$candy-store-warn: mat.define-palette(mat.$red-palette);




$candy-store-theme: mat.define-light-theme((color: (primary: $candy-store-primary,
        accent: $candy-store-accent,
        warn: $candy-store-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0));

@include mat.all-component-themes($candy-store-theme);


:root {
  --mat-sidenav-content-background-color: white;
  --mat-sidenav-container-background-color: brown;

}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pointer {
  cursor: pointer;
}

.bg-green {
  background-color: green;
}

.w-100 {
  width: 100%;
}

.p-sidebar {
  background-color: #f5ebe8 !important;
  border-radius: 2px;
  color: black !important;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.ws-15 {
  width: 15%;
}



.p-accordion-content {
  z-index: 1000 !important;
}

.p-carousel .p-carousel-indicators {
  z-index: 0 !important;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

@media(max-width: 500px) {

  .ws-15 {
    width: 100%;
  }

  .product-img {
    width: 155px !important;
    border: none;
  }

  .content-header {
    margin: 0;
    border: none;
    width: 100%;
  }

  .content-header {
    margin: 0!important;
    padding: 0!important;
  }
}